*{
    padding: 0;
    margin: 0;
}

section{
    margin-bottom: 100px;
}
.b {
    
}
.b .b-1{
    border: 5px solid red;
    display: block;
    width: 300px;
    margin-bottom: 5px;

}

.i .i-1{
    border: 1px solid black;
    width: 300px;
    background-color: blueviolet;
    display: inline;

}
.ib .ib-1{
    border: 2px solid red;
    width: 300px;
    background-color: blueviolet;
    display: inline-block;

}

.n .n-1{
    display: none;
}