*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    background-color: black;
}


/*SMARTPHONE*/
@media(min-width: 600px){
    /* MENU - BARRA SUPERIOR */
    header{
        background-color: brown;
        text-align: center  ;
    }


    /* MAIN */
    main{
        padding: 30px;
        
    
        
    }

    main div{
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
    }

    main div img{
        width: 100%;
        height: auto;
        
    }

    main p{
        width: 90%;
        margin: auto;
        font-size: 14pt;
        text-align: justify;
        margin-bottom: 5px;
    }

    /* FOOTER */
    footer{
        background-color: brown;
        padding: 10px;

    }
    footer p{
        text-align: center;
        color: white;
        font-size: 16pt;
    }
}

    /* TABLET */
@media(max-width: 601px){
    /* MENU - BARRA SUPERIOR */
    header{
        background-color: green;
        text-align: center  ;
    }
    header nav{
        font-size: 20pt;
    }


    /* MAIN */
    main{
        padding: 20px;
        
    
        
    }

    main div{
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }

    main div img{
        width: 100%;
        height: auto;
        
    }

    main p{
        width: 90%;
        font-size: 18pt;
        margin: auto;
        text-align: justify;
    }

    /* FOOTER */
    footer{
        background-color: green;
        padding: 10px;

    }
    footer p{
        text-align: center;
        color: white;
        font-size: 20pt;
    }
}

/* DESKTOP 1100px- */
@media(max-width: 1100px){
    /* MENU - BARRA SUPERIOR */
    header{
        background-color: brown;
        text-align: center  ;
    }
    header nav{
        font-size: 20pt;
    }


    /* MAIN */
    main{
        padding: 20px;
        
    
        
    }

    main div{
        width: 1000px;
        margin: auto;
        margin-bottom: 30px;
    }

    main div img{
        width: 1000px;
        height: auto;
        
    }

    main p{
        
        font-size: 22pt;
        margin: auto;
        text-align: justify;
    }

    /* FOOTER */
    footer{
        background-color:brown;
        padding: 20px;

    }
    footer p{
        text-align: center;
        color: white;
        font-size: 24pt;
    }
}
